<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giai phuong trinh</title>
</head>
<body>
    <div class="container">
        <h1>Giai phuong trinh bac 2</h1>
        <form action="/exercise1" method="GET">
            <div class="form-group">
                <label for="a">a</label>
                <input type="text" class="form-control" name="a" id="a">
            </div>
            <div class="form-group">
                    <label for="b">b</label>
                    <input type="text" class="form-control" name="b" id="b">
                </div>
                <div class="form-group">
                        <label for="c">c</label>
                        <input type="text" class="form-control" name="c" id="c">
                    </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <% if(data){%>
            <p><%- data %></p>
        <%}%>
    </div>
    <a href="/">Quay ve trang chu</a>
</body>
</html>